ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}
li {
    list-style-type: none;
    border-left: 2px solid #000;
    margin-left: 0;
}

ul ul li{
    margin-left: 2em;
}

li div {
    padding-left: 2em;
    position: relative;
}

ul ul li div::before {
    content:'';
    position: absolute;
    top: 0;
    left: -1px;
    bottom: 50%;
    width: 1.75em;
    border: 2px solid #000;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
}
ul > li:last-child {
    border-left: 1px dashed transparent;
}